footer {
  background: #343434;
  padding-top: 50px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 30%;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 30px;
  color: whitesmoke;
}
.footer-content h5 {
  font-size: 15px;
  margin-bottom: 10px;
  color: whitesmoke;
}
.footer-content ul {  
  list-style: none; 
  padding: 0;      
  margin: 0;     
}
.footer-content li {
  margin-bottom: 5px; 
}
.footer-content a {
  color: whitesmoke;
  font-size: 12px;
  text-decoration: none;
  display: block; 
  padding: 7px 0; 
}
.footer-content p {
  color: whitesmoke;
  font-size: 12px;
  margin: 5px 0;
  padding: 7px 5px;
  text-align: left;
}
.location,
.phone {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  font-size: 1rem;
}
.location .items-text1,
.phone .items-text2 {
  margin-left: 10px;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
.input-container {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-field {
  width: 100%;
  padding: 10px 40px 10px 20px; 
  background-color: black;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}
.icon1 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.bottom-bar {
  background: #5a5857;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.bottom-bar p {
  color: wheat;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

@media (max-width: 768px) {
  .footer-content {
    width: 100%; 
  }
  .container {
    flex-direction: column; 
  }
  .input-container {
    max-width: 90%; 
  }
}